body {position: static !important;}

a:link:hover {opacity: 0.75;}

.hero {min-height: 350px; background-size: cover; background-position: center center;}

.uppercase {text-transform: uppercase;}
.lowercase {text-transform: lowercase;}
.title {display: block; width: 100%;}
.sticky {position: inherit; transform: none; z-index: auto;}

hr.clear {background: rgba(0, 0, 0, 0) none repeat scroll 0 0; border: medium none; clear: both; display: block; height: 0; margin: 0; width: 100%;}

.no-padding {padding: 0px;}
.no-padding-top {padding-top: 0px;}
.no-padding-right {padding-right: 0px;}
.no-padding-bottom {padding-bottom: 0px;}
.no-padding-left {padding-left: 0px;}

.text-white {color:#fff;}
.text-black {color:#000;} 
.htext-white:hover {color:#fff;} 
.htext-black:hover {color:#000;}
.bg-white {background-color:#fff;} 
.bg-black {background-color:#000;} 
.hbg-white:hover {background-color:#fff;} 
.hbg-black:hover {background-color:#000;}

#template-name {background-color: rgba(255, 255, 255, 0.25); bottom: 0; display: inline-block; opacity: 0.5; padding: 1rem; position: fixed; right: 0;}

/* Default WP styles */
img.alignright { float: right; margin: 0 0 1em 1em; }
img.alignleft { float: left; margin: 0 1em 1em 0; }
img.aligncenter { display: block; margin-left: auto; margin-right: auto; }
.alignright { float: right; }
.alignleft { float: left; }
.aligncenter { display: block; margin-left: auto; margin-right: auto; }

/* Admin bar indicators */
#wpadminbar #wp-admin-bar-root-default .bb .ab-item, #wpadminbar #wp-admin-bar-root-default .bb .ab-item:hover {color: white;}
#wpadminbar #wp-admin-bar-root-default .bb.dev .ab-item, #wpadminbar #wp-admin-bar-root-default .bb.dev .ab-item:hover,
#wpadminbar #wp-admin-bar-root-default .bb.broken .ab-item, #wpadminbar #wp-admin-bar-root-default .bb.broken .ab-item:hover {background-color: red;}
#wpadminbar #wp-admin-bar-root-default .bb.stage .ab-item, #wpadminbar #wp-admin-bar-root-default .bb.stage .ab-item:hover,
#wpadminbar #wp-admin-bar-root-default .bb.wip .ab-item, #wpadminbar #wp-admin-bar-root-default .bb.wip .ab-item:hover {background-color: darkorange;}
#wpadminbar #wp-admin-bar-root-default .bb.prod .ab-item, #wpadminbar #wp-admin-bar-root-default .bb.prod .ab-item:hover,
#wpadminbar #wp-admin-bar-root-default .bb.stable .ab-item, #wpadminbar #wp-admin-bar-root-default .bb.stable .ab-item:hover {background-color: green;}
.bb.css a::before {content: ""; top: 2px;}

/* List Posts */
.bb_posts_wrapper {list-style: none;}
.bb_posts_item {text-align: center;}
.bb_posts_item img {border-radius: 50%; padding: 2rem;}